.message:not(:first-child) {
  margin: 0;
  padding-left: 1em;
}

.message:first-child {
  padding: 0.5em;
}

.message .message-body {
  border: none;
  padding: 0;
}

textarea.data-editor {
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  resize: none;
  outline: none;
}

.datasheet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1.5em;
}

.datasheet-container .append {
  width: 5em;
  margin: 0.5em 0;
}

.data-grid {
  width: 100%;
}

@media screen and (min-width: 1472px) {
  .container {
    max-width: 98vw;
    width: 98vw;
  }
}

.data-grid-container .data-grid .cell {
  padding: 0.3em;
  white-space: pre-wrap;
  transition: none;
  vertical-align: top;
  font-size: 14px;
  text-align: left;
  word-wrap: break-word;
  font-family: Menlo, Monaco, 'Ricty Discord', Consolas, monospace;
}

.data-grid-container .data-grid .cell.selected {
  box-shadow: none;
  background: rgba(33, 133, 208, 0.15);
}

.data-grid-container .data-grid .cell.selected.editing {
  background: #fff;
}

.data-grid-container .data-grid .cell.selected.editing textarea {
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
}
