.message:not(:first-child) {
  margin: 0;
  padding-left: 1em;
}

.message:first-child {
  padding: 0.5em;
}

.message .message-body {
  border: none;
  padding: 0;
}

textarea.data-editor {
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  resize: none;
  outline: none;
}

.data-grid {
  width: 100%;
  margin: 1em 0 1.5em;
}

.data-grid-container .data-grid .cell {
  padding: 0.3em;
  white-space: pre-wrap;
  transition: none;
}

.data-grid-container .data-grid .cell.selected {
  box-shadow: none;
  background: rgba(33, 133, 208, 0.15);
}

.data-grid-container .data-grid .cell.selected.editing {
  background: #fff;
}

.data-grid-container .data-grid .cell.selected.editing textarea {
  border: none;
}
